python==3.8.6
streamlit
matplotlib
numpy
https://download.pytorch.org/whl/cpu/torch/torch-1.7.0+cpu-cp38-cp38-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision/torchvision-0.8.1+cpu-cp38-cp38-linux_x86_64.whl
fastai==2.5.2
